/**************************************
  DELIVERY DETAILS
**************************************/

/* Container Section */
.section {
  margin-bottom: 20px;
}

.sectionHeading {
  margin: 0 0 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* Delivery Buttons */
.deliveryButtons {
  display: flex;
  gap: 10px;
  margin: 8px 0 10px;
}

.deliveryBtn {
  background-color: #fff;
  color: #16cb7f;
  border: 1px solid #16cb7f;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.deliveryBtn:hover {
  background-color: #f7f7f7;
}

.active {
  background-color: #16cb7f;
  color: #fff;
}

/* Location Card */
.locationCard {
  background-color: #fff2e0; /* or #fef6e4, etc. for a pale peach color */
  border-radius: 6px;
  padding: 12px;
}

.locationHeader {
  font-size: 0.85rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}

.locationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locationName {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.changeBtn {
  background: none;
  border: none;
  font-size: 0.9rem;
  text-decoration: underline;
  color: #666;
  cursor: pointer;
}

.cityDropdown {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
